<%- if user_signed_in? %>
<div class="row">
	<div class="seven columns centered">
		<%= link_to "Dawg, tried any new beers lately?", searches_path, :class => "button large radius" %>
	</div>
</div>
<br />
<br />
<div class="row">
	<div class="seven columns centered">
		<%= link_to "Want to try something familar?", user_beers_path(current_user), :class => "button large radius" %>
	</div>
</div>	
<%- else %>
<br />
<br />
	<div class="row">
		<div class="seven columns centered">
			<%= link_to "Sign into your account here", new_user_session_path, :class => "button large radius" %> 
		</div>
	</div>
	<br />
	<br />
	<div class="row">
		<div class="seven columns centered">
			<%= link_to "Sign up for an account here", new_user_registration_path, :class => "button large radius", :name => "sign_up" %>
		</div>
<%- end %>


