<ul style="list-style-type: none">
	<div class = "row">
		<li class="panel seven columns"> 
			<%= current_user.beers %>
		</li>		
	</div>
</ul>

<div class="row">
	<div class="five columns centered alert-box alert text-center">
		You Have Not Added Any Beers
	</div>
</div>


