<div>

<%= form_for Beer.new, :url => {:action => "index" }, :method => :get do |form| %>
	<%= form.text_field :query %>
	<%= form.submit "Search" %>
<%- end %>

<%- i = 0 %>
<%- @beer["data"].each do |list| %>
<p>
	<%= @beer["data"][i]["name"] %> 
	<button>Add Beer</button>
</p>
<%- i = i + 1 %>
<%- end %>

</div>
