<div>

<%= form_for Beer.new, :url => {:action => "index" }, :method => :get do |form| %>
	<%= form.text_field :query %>
	<%= form.submit "Search" %>
<%- end %>


<%- @beer["data"].length.times do |i| %>
	<p><%= @beer["data"][i]["name"] %>
	<button>Add Beer</button>
	</p>
<%- end %>


</div>
