<h1>Profile#index</h1>
<% content_for :angular_script, "beer/application" %>


<div data-ng-app="beerModule" data-ng-controller="BeerCtrl">
<ul class="beerList">
	<li data-ng-repeat="beer in beers"> {{beer.name}} </li>
</ul>

<form data-ng-submit="searchNow()">
<input type="text" data-ng-model="query" name="search_query">
<input type="submit" value="Search" name="Search">
</form>
<ul class='results'>
	<li data-ng-repeat="result in results">
		<div>{{result.name}}
			 {{result.abv}}

		</div>
		<button data-ng-click="addBeer(this.result.name)" name="list_beer">Add</button>
	</li>
</ul>

</div>