<h1>Profile#index</h1>

<div>
<ul class="beerList">
	<li> {{beer.name}} </li>
</ul>

<form>
<input type="text" name="search_query">
<input type="submit" value="Search" name="Search">
</form>
<ul class='results'>
	<li>
		<div>{{result.name}}
			 {{result.abv}}

		</div>
		<button name="list_beer">Add</button>
	</li>
</ul>

</div>